## Q-13. Write an SQL query to show only odd rows from a table.

In [ ]:
SELECT * FROM Worker WHERE MOD (empno, 2) <> 0;

## Q-14. Write an SQL query to clone a new table from another table.

In [ ]:
use workDatabase CREATE TABLE WorkerClone LIKE Worker;

INSERT INTO WorkerClone (empno,first_name,last_name,gender,department,salary,dateofjoining,emailid) SELECT empno,first_name,last_name,gender,department,salary,dateofjoining,emailid FROM Worker;

select * from workerclone